<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>InsertArticleServlet</servlet-name>
        <servlet-class>controller.InsertArticleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertArticleServlet</servlet-name>
        <url-pattern>/blog/article/insert</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>QueryAllArticleServlet</servlet-name>
        <servlet-class>controller.QueryAllArticleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QueryAllArticleServlet</servlet-name>
        <url-pattern>/blog/article/all</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>Filter</filter-name>
        <filter-class>filter.Filter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>FinArticleByKeyWordServlet</servlet-name>
        <servlet-class>controller.FindArticleByKeyWordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FinArticleByKeyWordServlet</servlet-name>
        <url-pattern>/blog/article/keyword</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    

    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/blog/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <servlet-class>controller.VerifyCodeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <url-pattern>/verifyCode</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/blog/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CookieServlet</servlet-name>
        <servlet-class>controller.CookieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CookieServlet</servlet-name>
        <url-pattern>/blog/ck</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginOutServlet</servlet-name>
        <servlet-class>controller.LoginOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginOutServlet</servlet-name>
        <url-pattern>/blog/loginout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InsertClassificationServlet</servlet-name>
        <servlet-class>controller.InsertClassificationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertClassificationServlet</servlet-name>
        <url-pattern>/blog/insertclassificationname</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>QueryAllClassificationNameServlet</servlet-name>
        <servlet-class>controller.QueryAllClassificationNameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QueryAllClassificationNameServlet</servlet-name>
        <url-pattern>/blog/queryallclassificationname</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateClassificationNameServlet</servlet-name>
        <servlet-class>controller.UpdateClassificationNameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateClassificationNameServlet</servlet-name>
        <url-pattern>/blog/updateclassificationname</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteClassificationNameServlet</servlet-name>
        <servlet-class>controller.DeleteClassificationNameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteClassificationNameServlet</servlet-name>
        <url-pattern>/blog/deleteclassificationname</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteArticleServlet</servlet-name>
        <servlet-class>controller.DeleteArticleServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteArticleServlet</servlet-name>
        <url-pattern>/blog/deletearticle</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InsertIntoClassificationServlet</servlet-name>
        <servlet-class>controller.InsertIntoClassificationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertIntoClassificationServlet</servlet-name>
        <url-pattern>/blog/insertintoclassification</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteIntoClassificationServlet</servlet-name>
        <servlet-class>controller.DeleteIntoClassificationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteIntoClassificationServlet</servlet-name>
        <url-pattern>/blog/deleteintoclassification</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>QueryArticleServlet</servlet-name>
        <servlet-class>controller.QueryArticleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QueryArticleServlet</servlet-name>
        <url-pattern>/blog/queryarticle</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InsertPraiseServlet</servlet-name>
        <servlet-class>controller.InsertPraiseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertPraiseServlet</servlet-name>
        <url-pattern>/blog/insetpraise</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeletePraiseServlet</servlet-name>
        <servlet-class>controller.DeletePraiseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeletePraiseServlet</servlet-name>
        <url-pattern>/blog/deletepraise</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InsertCommentServlet</servlet-name>
        <servlet-class>controller.InsertCommentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertCommentServlet</servlet-name>
        <url-pattern>/blog/insertcomment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteCommentServlet</servlet-name>
        <servlet-class>controller.DeleteCommentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCommentServlet</servlet-name>
        <url-pattern>/blog/deletecomment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>QueryCommentServlet</servlet-name>
        <servlet-class>controller.QueryCommentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QueryCommentServlet</servlet-name>
        <url-pattern>/blog/querycomment</url-pattern>
    </servlet-mapping>
</web-app>
